body {
background-color: #fbfbfb;
}

.carousel { overflow: hidden; padding-bottom: 10rem !important; }
.carousel-caption { top: 100%; }
.carousel-inner { overflow: visible; margin: auto; }
.carousel-control-next, .carousel-control-prev { bottom: 6rem; }

:root {
  --bs-primary-rgb: #3465a4;
  --bs-body-color: #666;
  --bs-heading-color: #333;
  --bs-heading-font-weight: 500;
  --bs-body-font-family: "Open Sans",Arial,sans-serif;
  --bs-body-font-weight: 300;
}
