{% extends "base.html" %}
{% set active_page = "current-release" %}

{% block title %}Subsurface Latest Release{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
<div class="container">
  <div class="row g-5">
    <div class="col-12">
      <h1 class="text-primary">{{ _("Current \"Weekly\" Release: %(version)s", version=get_env("crelease")) }}
      </h1>
      <h5>{{ get_env("crelease_date") }}</h5>
      <p>
        {{ _("The releases on this page are what we consider the current release builds of Subsurface.") }}
      </p>
      <p>
        {{ _("We expect these builds to be reasonably stable and somewhat tested, and as the name suggests try to update them about once a week (the actual frequency may vary).")}}
      </p>
      <p>
        {{ _("If you are looking for more \"bleeding edge\" releases builds, please check out the <a %(link)s>Latest Release Page</a>.", link=url_for("lrelease")) }}
      </p>
      <div class="row">
        <div class="col-md-auto">
          <h2><a class="face-button" href="{{ get_env("cwindows")}}">
              <div class="face-primary">
                <i class="fa-brands fa-fw fa-windows"></i> Windows
              </div>
              <div class="face-secondary">
                {{ _("Download...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;") }}
              </div>
            </a>
          </h2>
        </div>
        <div class="col-12 col-md-6">
          {{ _("This Subsurface Windows installer is not signed and Windows will likely ask you to confirm that you want to install this program.")}}
        </div>
        <div class="col-12"></div>
        <div class="col-md-auto">
          <h2><a class="face-button" href="{{ get_env("cmacos")}}">
              <div class="face-primary"><i class="fa-brands fa-fw fa-apple"></i> macOS
              </div>
              <div class="face-secondary">
                {{ _("Download...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;") }}
              </div>
            </a>
          </h2>
        </div>
        <div class="col-12 col-md-6">
          {{ _("We try to post a signed Subsurface macOS DMG here. If your Mac doesn't want to install this image, please let us know in the <a %(link)s>User Forum</a>.", link="https://subsurface-divelog.org/user-forum/") }}
        </div>
        <div class="col-12"></div>
        <div class="col-md-auto">
          <h2><a class="face-button" href="{{ get_env("candroid")}}">
              <div class="face-primary"><i class="fa-brands fa-fw fa-android"></i> Android
              </div>
              <div class="face-secondary">
                {{ _("Download...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;") }}
              </div>
            </a>
          </h2>
        </div>
        <div class="col-12 col-md-6">
          {{ _("The Subsurface Android APK can be side-loaded on most Android devices. If you previously had installed Subsurface-mobile from the Google Play store, the first time you switch to a side-loaded app, you'll have to uninstall the Play store version. Make sure your data is synced to the Subsurface Cloud. After you install this APK and log in to the Subsurface Cloud again, the data will be restored. Every subsequent update will not require an uninstall.")}}
        </div>
        <div class="col-12"></div>
        <div class="col-md-auto">
          <h2><a class="face-button" href="https://apps.apple.com/us/app/subsurface-mobile/id1093217161">
              <div class="face-primary"><i class="fa-brands fa-fw fa-apple"></i> iOS
              </div>
              <div class="face-secondary">
                {{ _("AppStore Link&nbsp;&nbsp;") }}
              </div>
            </a>
          </h2>
        </div>
        <div class="col-12 col-md-6">
          {{ _("iOS is the only platform right now where in general side-loading or installing unsigned binaries is impossible (apparently that may change for users in the EU, but not elsewhere). As a result we cannot make new versions of Subsurface-mobile for iOS available here, but the goal is to update the AppStore version to the \"weekly\" versions reasonably frequently as well.") }}
        </div>
        <div class="col-12"></div>
        <div class="col-12">
          <h3>Linux</h3>
          <p>
            {{ _("The Subsurface team is providing distribution packages for Ubuntu and Fedora as well as a generic \"AppImage\" that should work on most other x86_64 Linux distributions.") }}
          </p>
          <h4>{{ _("Ubuntu and compatible distros") }}</h4>
          <p>{{ _("To use these binaries in Ubuntu, simply add the Subsurface Daily Release PPA to your system:") }}</p>
          <pre><code>sudo add-apt-repository ppa:subsurface/subsurface-daily sudo apt update</code></pre>
          <p>{{ _("and then install Subsurface with <code>sudo apt install subsurface </code>") }}</p>
          <h4>Fedora</h4>
          <p>{{ _("To install the Subsurface CICD binaries on Fedora simply run") }}</p>
          <pre><code>sudo dnf copr enable dirkhh/Subsurface-test</code></pre>
          <p>{{ _("and then install Subsurface with <code>dnf install subsurface</code>") }}</p>
          <h4>{{ _("Other x86_64 Linux distributions") }}</h4>
        </div>
        <div class="col-md-auto">
          <h2><a class="face-button" href="{{ get_env("cappimage")}}">
              <div class="face-primary"><i class="fa-brands fa-solid fa-fw fa-linux"></i> AppImage
              </div>
              <div class="face-secondary">
                {{ _("Download...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;") }}
              </div>
            </a>
          </h2>
        </div>
        <div class="col-12 col-md-6">
          {{ _("A generic AppImage is available. After you download this file, make it executable <code>chmod +x Subsurface-v%(version)s-CICD-release.AppImage</code>, and then simply run this file.", version=get_env("crelease")) }}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}