{% extends "base.html" %}

{% block title %}Deleting Cloud Data and Account{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
<div class="container">
  <div class="row g-5">
    <div class="col-12">
      <h1 class="ssrf">Deleting Cloud Data and Account</h1>
      <p>
        {{ _("Your cloud data can be deleted from within the mobile app or you can request that your data, or your data and account are deleted by simply sending an email to the Subsurface team at <a %(link)s>in-app-support@subsurface-divelog</a>.", link="href=mailto:in-app-support@subsurface-divelog") }}
      </p>
    </div>
  </div>
</div>

{% endblock %}