{% extends "base.html" %}

{% block title %}Documentation{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
<div class="container">
  <div class="row g-5">
    <div class="col-12">
      <h1 class="ssrf">Documentation</h1>
      <p>
        {{ _("This page provides an overview of most of the user-facing documentation for Subsurface")}}
      <ul>
        <li>{{ _("<a %(faq)s>FAQ</a>", faq="href=/faq") }}</li>
        <li>{{ _("<a %(supporteddc)s>Supported Divecomputers</a>", supporteddc="href=supported-dive-computers") }}</li>
        <li>
          {{ _("<a %(video)s>(fairly old) Videp Tutorial</a>", video="href=https://subsurface-divelog.org/documentation/tutorial-video/") }}
        </li>
        <li>{{ _("<a %(manual)s>Subsurface User Manual</a>", manual="href=/subsurface-user-manual") }}</li>
        <li>{{ _("<a %(mobilemanual)s>Subsurface-mobile User Manual</a>", mobilemanual="#") }}</li>
      </ul>
      </p>
    </div>
  </div>
</div>

{% endblock %}