{% extends "base.html" %}

{% block title %}Sponsoring{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
<div class="container">
  <div class="row g-5">
    <div class="col-12">
      <h1 class="ssrf">Sponsoring</h1>
      <p>
        {{ _("Running Subsurface costs money. This is particularly the case for the free cloud based synchronisation of dive logs that is built into Subsurface. The principal maintainer of Subsurface and of our infrastructure appreciates donations to help cover these expenses. If you would like to help with this you can do so through <a %(link)s>Dirk's Ko-fi page</a> or the <a %(ghsponsor)s>Dirk's GitHub Sponsor page</a>.", link="href=https://ko-fi.com/dirkhh", ghsponsor="href=https://github.com/sponsors/subsurface") }}
      </p>
    </div>
  </div>
</div>

{% endblock %}